h1{
    color:aquamarine;
}
#p1{
    color:bisque;
}
#p2{
    color:brown;
}
#home-intro{
    text-align:center;
   border:3px black solid;
}
#home-intro:hover{
   background-color:black;
}
#nav{
    text-align: center;
    background-color: aqua;
    border: 2px black solid;
    height: 30px;
    padding-top: 5px;
}
#nav:hover{
    background-color: black;
}
#nav a{
    margin:0px 5px;
    /*margin:y-axis x-axis*/
    text-decoration: none;
    color: aliceblue;
}
#card{ 
    border: 2px black solid;
    align-items:center;
    text-align: center;
    margin: 5px auto;
    height:500px;
    width:430px;
    border-radius: 8px;
}
#card-img{
    border: 3px auto black;
    height: 250px;
}
#card-name{
    text-align: center;
    -webkit-animation-fill-color: beige ;
}
#card-gender{
    text-align: center;
    color:beige;
}
#images{
    align-items: center;
    height: 200px;
    width:200px;
}
#action{
    align-items: center;
    text-align: center;
}
button{
    width:100%;
}
#toggle{
    text-align: center;
    -webkit-animation-fill-color:beige;
}